lab_05/task_3/ConsoleApp1/generator_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Games">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Games" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:byte" name="Id" use="optional"/>
                <xs:attribute type="xs:string" name="GameName" use="optional"/>
                <xs:attribute type="xs:string" name="GameGenre" use="optional"/>
                <xs:attribute type="xs:string" name="Developer" use="optional"/>
                <xs:attribute type="xs:byte" name="TournamenstAmount" use="optional"/>
                <xs:attribute type="xs:short" name="PlayerAmount" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>