lab_05/task_3/ConsoleApp1/visual_studio_schema_test.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ROOT">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="Games">
                    <xs:complexType>
                        <xs:attribute name="Id" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="GameName" type="xs:string" use="required" />
                        <xs:attribute name="GameGenre" type="xs:string" use="required" />
                        <xs:attribute name="Developer" type="xs:string" use="required" />
                        <xs:attribute name="TournamenstAmount" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="PlayerAmount" type="xs:unsignedShort" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>